/*
==========================================================
Enterprise Reset
==========================================================
*/

*,
*::before,
*::after{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    font-size:16px;

    scroll-behavior:smooth;

}

body{

    background:var(--color-background);

    color:var(--color-text);

    font-family:var(--font-family);

    line-height:1.5;

    min-height:100vh;

}

img{

    max-width:100%;

    display:block;

}

button{

    font:inherit;

    cursor:pointer;

}

input,
select,
textarea{

    font:inherit;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}